<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="SchoolContext" connectionString="Data Source=localhost,10001;Initial Catalog=model;Persist Security Info=True;User ID=sa;Password=sapwdlocal@123" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>